{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <h2 class="sub-header">Homepage </h2>
        <a type="button" class="btn btn-primary btn-sm">Product name</a>
        <hr/>
        {% for company in pagination %}
            <a type="button" class="btn btn-default btn-sm" href="companies/{{ company.name }}">{{ company.name }}</a>
            <br>
        {% endfor %}
        <div class="text-center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}