<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}
            {% if title is defined %}
                {{ title }}
            {% else %}
                Welcome!
            {% endif %}
        {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% for flash_message in app.session.flashBag.get('warning') %}
    <div class="flash-warning">
        <p>{{ flash_message }}</p>
    </div>
    <br>
{% endfor %}
{% block body %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-3.1.0.js"></script>
{% endblock %}
</body>
</html>