th.col-md-1 {
    text-align: center;
}

td.col-md-1 {
    text-align: center;
}

h2.sub-header {
    text-align: center;
}

p.btn.btn-sm {
    width: 100%;
}

a.btn.btn-sm {
    width: 100%;
}
/*div*/
div.flash-warning {
    width: 100%;
    text-align: center;
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

div.flash-warning p {
    width: 100%;
    margin: 0;
    background: rgba(254, 117, 110, 0.84);
}
/*/div*/